body {
  font-family: 'IM Fell DW Pica', serif;
  margin: 0px;
  background-image: url(assets/pirate-vs-ninja-background.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
}

main {
 overflow:hidden;
  margin: 0px;
  height: 100%;
  width: 100%;
  display:flex;
  justify-content: space-evenly;
  align-items: center;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.side-section {
  width: 30vh;
  height: 35vh;
  margin: 0vh 5vh 0vh 5vh;
  border-radius: 25px;
  box-shadow: 0px 0px 9px 10px inset rgba(29, 58, 78, .5);
  background-color: rgba(123, 152, 171, .8);
}

.main-section {
  width: 40%;
}

.wrapper {
  margin-top: 4vh;
  width: 75%;
  display: grid;
  grid-template-columns: repeat(3, 3fr);
  gap: 2px;
  grid-auto-rows: minmax(125px, 7px);
}

.cell {
  box-shadow: 0px 0px 9px 10px inset rgba(29, 58, 78, .5);
  background-color: rgba(123, 152, 171);
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1,
h2,
h3 {
  font-size: 30px;
  text-align: center;
}

h1 {
  font-size: 65px;
  margin: 25px 0px 0px 0px;
  width: 45vh;
}

span {
  display:block;
  font-size: 30px ;
}

.pirate-wins {
  margin-top: 2vh;
}

img {
  margin-top: 4vh;
  width: 15vh ;
  height: auto;
}

h3{
  display: flex;
  align-items: center;
  margin-top: 5vh;
  height: 10vh;
}

.current-player-image {
  width: 8vh ;
  height: auto;
  margin-bottom: 4vh;
  padding-top: 2vh;
  padding-bottom: 2vh;
}