* {
  font-family: 'IM Fell DW Pica', serif;
  margin: 0px;
}

body {
  background-image: url(assets/pirate-vs-ninja-background.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
}

main {
 overflow:hidden;
  margin: 0;
  height: 100%;
  width: 100%;
  display:flex;
  border: 2px solid black; /* DELETE WHEN DONE WITH LAYOUT */
  justify-content: space-evenly;
}

section{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%
}

.side-section{
  height: 100%;
  width: 25%;
  border: 2px solid black; /* DELETE WHEN DONE WITH LAYOUT */
}

.main-section{
  height: 100%;
  width: 50%;
  border: 2px solid black; /* DELETE WHEN DONE WITH LAYOUT */
}

.wrapper{
  margin-top: 5vh;
  width: 75%;
  border: 2px solid black; /* DELETE WHEN DONE WITH LAYOUT */
  display: grid;
  grid-template-columns: repeat(3, 3fr);
  gap: 0px;
  grid-auto-rows: minmax(150px, 10px);
}

.cell{
  border: 1px solid black; /* DELETE WHEN DONE WITH LAYOUT */
  background-color: rgba(225, 225, 225, .8);
}

